div{
    text-align: center;
}

div i{
    font-size: 10rem;
    color: rgb(255, 204, 0);
}

.fa-bell{
animation-name: shake;
animation-duration: 1s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: alternate;
}

@keyframes shake {
    0%{
transform: rotate(15deg);
transform-origin: top;

    }

    100%{
        transform: rotate(-15deg);
        transform-origin: top;
        background-color: chocolate;
    }
}

